<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/sagarmatha</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPwd</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>limit</param-name>
        <param-value>10</param-value>
    </context-param>


    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthenticateUser</servlet-name>
        <servlet-class>controller.servlets.AuthenticateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticateUser</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitPost</servlet-name>
        <servlet-class>controller.servlets.SubmitPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitPost</servlet-name>
        <url-pattern>/SubmitPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.servlets.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.servlets.DeletePost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.servlets.UpdateProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadMorePosts</servlet-name>
        <servlet-class>controller.servlets.LoadMorePosts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadMorePosts</servlet-name>
        <url-pattern>/LoadMorePosts</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>errorHandler</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
        <init-param>
            <param-name>errorMessage</param-name>
            <param-value>Error occured while processing your request. Please verify if the requested page exists and the
                provided credentials are valid.
            </param-value>
        </init-param>
        <init-param>
            <param-name>imageUrl</param-name>
            <param-value>assets/images/error.png</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>errorHandler</servlet-name>
        <url-pattern>/error.jsp</url-pattern>
    </servlet-mapping>


    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>

</web-app>